*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.body{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 100vh;
}

.video-wrapper{
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow-y: hidden;
}

.video{
  width: 100%;
}

.video__controls{
  display: flex;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 30px;
  padding: 0px 15px;
  bottom: 2px;
  background-color: grey;
  color: white;
  opacity: 0.8;
  /* transform: translateY(100%); */
  transition: 300ms transform ease-in-out;
  transition-delay: 400ms;
}


.video-wrapper:hover .video__controls{
  transform: translate(0px);
  transition-duration: 150ms;
  transition-delay: 0ms;
}

.video__controls > *{
  
  padding: 5px;
  font-size: 11px;
  cursor: pointer;
}

.video__time-bar{
  height: 7px;
  border-radius:  5px;
  width: 40%;
  display: flex;
  align-items: center;
  background-color: black;
}

.video__time-bar .video__time-bar__juice{
  background-color: orange;
  height: 100%;
  width: 50%;
  border-radius: inherit;
}


